<template>
  <q-page class="flex flex-center">
    <h1>My Cart</h1>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'MyCart'
})
</script>
