<script setup>
import MainHeader from "components/global/MainHeader.vue";
import LeftDrawer from "components/global/LeftDrawer.vue";
</script>

<template>
  <q-layout view="hHh lpR fFf" class="bg-grey-1">
    <MainHeader/>
    <LeftDrawer/>
    <q-page-container>
      <router-view/>
    </q-page-container>
  </q-layout>
</template>

<style lang="sass">
</style>
