<script setup>
import {useLayoutStore} from 'stores/layout'
import {useProductStore} from "src/modules/product/stores/product";
import {ref} from "vue";
import {fabYoutube} from "@quasar/extras/fontawesome-v6";

const links1 = ref([
  {icon: 'home', text: 'Home', link: 'HomePage'},
  {icon: 'whatshot', text: 'Products', link: 'ProductList'},
  {icon: 'subscriptions', text: 'Cart', link: 'MyCart'}
]);
let links2 = ref([
  {icon: 'folder', text: 'Library'},
  {icon: 'restore', text: 'History'},
  {icon: 'watch_later', text: 'Watch later'},
  {icon: 'thumb_up_alt', text: 'Liked videos'}
]);
let links3 = ref([
  {icon: fabYoutube, text: 'YouTube Premium'},
  {icon: 'local_movies', text: 'Movies & Shows'},
  {icon: 'videogame_asset', text: 'Gaming'},
  {icon: 'live_tv', text: 'Live'}
]);
const links4 = ref([
  {icon: 'settings', text: 'Settings'},
  {icon: 'flag', text: 'Report history'},
  {icon: 'help', text: 'Help'},
  {icon: 'feedback', text: 'Send feedback'}
]);
const buttons1 = ref([
  {text: 'About'},
  {text: 'Press'},
  {text: 'Copyright'},
  {text: 'Contact us'},
  {text: 'Creators'},
  {text: 'Advertise'},
  {text: 'Developers'}
]);
const buttons2 = ref([
  {text: 'Terms'},
  {text: 'Privacy'},
  {text: 'Policy & Safety'},
  {text: 'Test new features'}
]);
const storeLayout = useLayoutStore();
const storeProduct = useProductStore();
</script>

<template>
  <q-drawer
    v-model="storeLayout.leftDrawerOpen"
    bordered
    class="bg-grey-2"
    :width="240"
  >
    <q-scroll-area class="fit">
      <q-list padding>
        <q-item v-for="link in links1" :key="link.text" :to="{name: link.link}" v-ripple clickable>
          <q-item-section avatar>
            <q-icon color="grey" :name="link.icon"/>
          </q-item-section>
          <q-item-section>
            <q-item-label>{{ link.text }}</q-item-label>
          </q-item-section>
        </q-item>

        <q-separator class="q-my-md"/>

        <q-item v-for="link in links2" :key="link.text" v-ripple clickable>
          <q-item-section avatar>
            <q-icon color="grey" :name="link.icon"/>
          </q-item-section>
          <q-item-section>
            <q-item-label>{{ link.text }}</q-item-label>
          </q-item-section>
        </q-item>

        <q-separator class="q-mt-md q-mb-xs"/>

        <q-item-label header class="text-weight-bold text-uppercase">
          More from Youtube
        </q-item-label>

        <q-item v-for="link in links3" :key="link.text" v-ripple clickable>
          <q-item-section avatar>
            <q-icon color="grey" :name="link.icon"/>
          </q-item-section>
          <q-item-section>
            <q-item-label>{{ link.text }}</q-item-label>
          </q-item-section>
        </q-item>

        <q-separator class="q-my-md"/>

        <q-item v-for="link in links4" :key="link.text" v-ripple clickable>
          <q-item-section avatar>
            <q-icon color="grey" :name="link.icon"/>
          </q-item-section>
          <q-item-section>
            <q-item-label>{{ link.text }}</q-item-label>
          </q-item-section>
        </q-item>

        <q-separator class="q-mt-md q-mb-lg"/>

        <div class="q-px-md text-grey-9">
          <div class="row items-center q-gutter-x-sm q-gutter-y-xs">
            <a
              v-for="button in buttons1"
              :key="button.text"
              class="YL__drawer-footer-link"
              href="javascript:void(0)"
            >
              {{ button.text }}
            </a>
          </div>
        </div>
        <div class="q-py-md q-px-md text-grey-9">
          <div class="row items-center q-gutter-x-sm q-gutter-y-xs">
            <a
              v-for="button in buttons2"
              :key="button.text"
              class="YL__drawer-footer-link"
              href="javascript:void(0)"
            >
              {{ button.text }}
            </a>
          </div>
        </div>
      </q-list>
    </q-scroll-area>
  </q-drawer>
</template>
<style lang="sass">
.YL

  &__drawer-footer-link
    color: inherit
    text-decoration: none
    font-weight: 500
    font-size: .75rem

    &:hover
      color: #000
</style>
