<script setup>
import {useLayoutStore} from 'stores/layout'
import {ref} from "vue";

const storeLayout = useLayoutStore();
const {toggleLeftDrawer} = storeLayout;
const search = ref('');
const searchCategory = ref({
  id: 1,
  title: 'All',
  fullTitle: 'All Categories'
});
const changeCategory = (el) => {
  searchCategory.value = el;
}
const categories = [
  {
    id: 1,
    title: 'All',
    fullTitle: 'All Categories'
  },
  {
    id: 2,
    title: 'Electronics',
    fullTitle: 'Electronics'
  },
  {
    id: 3,
    title: 'Fashion',
    fullTitle: 'Fashion'
  },
  {
    id: 4,
    title: 'Books',
    fullTitle: 'Books'
  },
];

</script>

<template>
  <q-header elevated class="" height-hint="58">
    <q-bar class="bg-blue-grey-10 text-grey-1">
      <q-icon name="mdi-phone"/>
      <div>+996 555 444 333</div>
      <q-icon class="q-pl-lg" name="mdi-store-clock"/>
      <div>10:00 - 19:00</div>

      <q-space/>
      <q-btn-dropdown no-caps size="14px" class="text-blue-grey-2 no-margin text-weight-light q-px-sm"
                      label="Sell on water.kg">
        <q-list dense>
          <q-item clickable v-close-popup>
            <q-item-section>
              <q-item-label>Seller Log In</q-item-label>
            </q-item-section>
          </q-item>

          <q-item clickable v-close-popup>
            <q-item-section>
              <q-item-label>New Seller Registration</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-btn-dropdown>
      <q-separator vertical color="blue-grey-7"/>
      <q-btn-dropdown no-caps size="14px" class="text-blue-grey-2 no-margin text-weight-light q-px-sm" label="Help">
        <q-list dense>
          <q-item clickable v-close-popup>
            <q-item-section>
              <q-item-label>Customer Service</q-item-label>
            </q-item-section>
          </q-item>

          <q-item clickable v-close-popup>
            <q-item-section>
              <q-item-label>Disputes & Reports</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-btn-dropdown>
      <q-separator vertical color="blue-grey-7"/>
      <q-btn no-caps size="14px" icon="mdi-cellphone" class="text-blue-grey-2 no-margin text-weight-light q-px-md"
             label="App">
      </q-btn>
      <q-separator vertical color="blue-grey-7"/>
      <q-btn-dropdown no-caps size="14px" class="text-blue-grey-2 no-margin text-weight-light q-px-sm">
        <template v-slot:label>
          <div class="row items-center no-wrap">
            <img
              src="~assets/icons/flags/icons8-kyrgyzstan-96.png"
              style="height: 32px; width: auto;"
            />
            <div class="text-center q-pl-xs">
              / English / KGS
            </div>
          </div>
        </template>
        <q-list dense>
          <q-item clickable v-close-popup>
            <q-item-section>
              <q-item-label>Ship to</q-item-label>
            </q-item-section>
          </q-item>

          <q-item clickable v-close-popup>
            <q-item-section>
              <q-item-label>Language</q-item-label>
            </q-item-section>
          </q-item>
          <q-item clickable v-close-popup>
            <q-item-section>
              <q-item-label>Currency</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-btn-dropdown>
    </q-bar>
    <q-toolbar class="bg-grey-10 text-grey-1">
      <q-btn
        flat
        dense
        round
        @click="toggleLeftDrawer"
        aria-label="Menu"
        icon="menu"
      />

      <q-btn :to="{name: 'HomePage'}" flat no-caps no-wrap class="q-ml-xs" v-if="$q.screen.gt.xs">
        <q-icon name="mdi-liquid-spot" color="amber-8" size="48px"/>
        <q-toolbar-title shrink class="text-weight-bold">
          <span class="text-white text-h4">water</span><span class="text-amber">.kg</span>
        </q-toolbar-title>
      </q-btn>

      <q-space/>

      <div class="YL__toolbar-input-container row no-wrap">
        <q-btn-dropdown no-caps color="grey-3" menu-anchor="bottom left" menu-self="top start" text-color="grey-8"
                        size="14px" class="YL__toolbar-category-btn q-pr-sm" :label="searchCategory.title">
          <q-list dense>
            <q-item v-for="cat in categories" :key="cat.id" clickable @click="changeCategory(cat)" v-close-popup>
              <q-item-section>
                <q-item-label>{{ cat.fullTitle }}</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-btn-dropdown>
        <q-input dense outlined square v-model="search" placeholder="Search" class="bg-white col YL__toolbar-input"/>
        <q-btn class="YL__toolbar-input-btn" color="grey-3" text-color="grey-8" icon="search" unelevated/>
      </div>

      <q-space/>

      <div class="q-gutter-sm row items-center no-wrap">
        <q-btn round dense flat color="grey-1" icon="mdi-cart-outline" v-if="$q.screen.gt.sm">
          <q-tooltip>My Cart</q-tooltip>
        </q-btn>
        <q-btn round dense flat color="grey-1" icon="mdi-heart-outline" v-if="$q.screen.gt.sm">
          <q-tooltip>My Wishlists</q-tooltip>
        </q-btn>
        <q-btn round dense flat color="grey-1" icon="message" v-if="$q.screen.gt.sm">
          <q-tooltip>Messages</q-tooltip>
        </q-btn>
        <q-btn round dense flat color="grey-1" icon="notifications">
          <q-badge color="red" text-color="white" floating>
            2
          </q-badge>
          <q-tooltip>Notifications</q-tooltip>
        </q-btn>
        <q-btn round color="grey-9">
          <q-avatar size="35px">
            <img src="https://cdn.quasar.dev/img/avatar4.jpg">
          </q-avatar>
          <q-tooltip>Account</q-tooltip>
          <q-menu>
            <div class="row no-wrap q-pa-md">
              <div class="column">
                <div class="text-h6 q-mb-md" style="min-width: 125px;">My Account</div>
                <q-list dense>
                  <q-item clickable v-close-popup>
                    <q-item-section>
                      <q-item-label>My Orders</q-item-label>
                    </q-item-section>
                  </q-item>

                  <q-item clickable v-close-popup>
                    <q-item-section>
                      <q-item-label>Wish List</q-item-label>
                    </q-item-section>
                  </q-item>
                  <q-item clickable v-close-popup>
                    <q-item-section>
                      <q-item-label>My Profile</q-item-label>
                    </q-item-section>
                  </q-item>
                </q-list>
              </div>

              <q-separator vertical inset class="q-mx-lg"/>

              <div class="column items-center">
                <q-avatar size="72px">
                  <img src="https://cdn.quasar.dev/img/avatar4.jpg">
                </q-avatar>

                <div class="text-subtitle2 text-amber-10 text-center q-mt-md" style="min-width: 125px;">Welcome back,
                </div>
                <div class="text-subtitle2 q-mb-xs">John Doe</div>

                <q-btn
                  color="primary"
                  label="Logout"
                  push
                  size="sm"
                  v-close-popup
                />
              </div>
            </div>
          </q-menu>
        </q-btn>
      </div>
    </q-toolbar>
  </q-header>
</template>
<style lang="sass">
.YL

  &__toolbar-input-container
    min-width: 100px
    width: 55%

  &__toolbar-input-btn
    border-radius: 0px 5px 5px 0px
    border-style: solid
    border-width: 0px 1px 1px 0px
    border-color: rgba(0, 0, 0, .24)
    max-width: 60px
    width: 100%

  &__toolbar-category-btn
    border-radius: 5px 0px 0px 5px
    border-style: solid
    border-width: 1px 0px 1px 1px
    border-color: rgba(0, 0, 0, .24)
</style>
